@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: 'liga';
	-moz-font-smoothing: antialiased;
	src: url(./material-icons.woff2) format('woff2');
}

@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: 'liga';
	-moz-font-smoothing: antialiased;
	src: url(./material-icons-outlined.woff2) format('woff2')
}